body {
    background-color: #F4F9F9;
    font-family: 'Lexend Deca', sans-serif;
    width: 800px;
    padding: 40px; 
    text-align: left;

}
h1{
    align-self:center
    
    
}

hr {
    background-color: white;
    border-style: dotted none none;
    border-color: rgb(83, 74, 74);
    border-width: 7px;
    width: 4%;
}

h1:hover {
    background-color: yellow;
    color: red;
}

.heading {

    color: white;
    background-color: #2B60DE;
    height: 45px;
    width: 250px;
    font-size: 30px;
    padding: 5px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    font-family: arial;
    border-radius: 20px;

    
}
#profile{
    border-radius: 150%;
}
img{
    border-radius: 30%;
}


img:hover{
    background-color: gold;
}
h3 {
    color: white;
    background-color: #2B60DE;
    height: 25px;
    padding: 2px;
    text-align: left;
    border-radius: 10px;
    height: 27px;
    width: max-content;
    font-weight: bold;
    font-family: Arial;
}

h4 {
    color: #046582;
}





h3:hover {
    background-color: yellow;
    color: red;
}